{{/*
  form
  Print the AddToCart Form on a given product

  @author @regisphilibert

  @context 
    OR Page (.)
    OR Map
        Page (.Page)
        String (.settings)

  @access public

  @example - Go Template
      OR {{ partial "tnd-snipcart/form" $ }}
      OR {{ partial "tnd-snipcart/form" (dict "Page" $ "settings" "homepage") }}
    {{ end }}
*/}}
{{ $config := partialCached "tnd-snipcart/private/GetConfig" "GetConfig" }}
{{ if not $config.disable }}
  
  {{ with partial "tnd-snipcart/private/GetFormData" . }}
  <div class="tnd-snipcart-form">
    {{ with .fields }}
      {{ range . }}
        <div class="tnd-snipcart-control">
          {{ partial "tnd-snipcart/private/field.html" . }}
        </div>
      {{ end }}
    {{ end }}

    {{ $button_attrs := merge .buy_button_attributes (dict "class" .buy_button_classes ) }}
    {{ partial "tnd-tags/tag" (dict "name" "button" "attr" $button_attrs "inner" .button_inner) }}
    {{ if $config.debug }}
      {{ $entry := $ }}
      {{ with $.Page }}
        {{ $entry = $.Page }}
      {{ end }}
      <div class="my-8">
        {{ with partial "tnd-snipcart/private/GetProductData" $entry }}
          {{ highlight (. | transform.Remarshal "yaml") "yaml" "" }}
        {{ end }}
      </div>
      <code class="block text-red-300">
        {{ partial "tnd-tags/tag" (dict "name" "button" "attr" $button_attrs "inner" .button_inner) | string }}
      </code>
    {{ end }}
  </div>
  {{ end }}
{{ end }}


