{{/*
  FormatButtonText

  @author @regisphilibert

  @context Map (.)

  @access private

  @use
    - /private/GetConfig
    - /private/FormatPrice

  @return String

*/}}
{{ $button_text := "Buy" }}
{{ with .settings.buy_button_text }}
  {{ $button_text = . }}
{{ end }}


{{ with findRE "{{[a-z]*}}" $button_text }}
  {{ if in . "{{price}}" }}
    {{ with $.data.price }}
      {{ with partialCached "tnd-snipcart/private/FormatPrice" . . }}
        {{ $button_text = replace $button_text "{{price}}" . }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $button_text }}