{{/*
  GetButtonAttributes
  Return a Map with key fitting Snipcart's attribute name values fitting Snipcart's expected format for any given attribute.

  @author @regisphilibert

  @context Map
    See /private/ProductData @return

  @access private

  @return Map
        Any (.data-item-{key})
        [...]

*/}}
{{ $s := newScratch }}
{{ $s.Set "data" dict }}
{{ $itemKey := "data-item-" }}


{{ with $product_data := . }}

  {{ $s.SetInMap "data" "id" .id }}

  {{/* Basic, unchanged Product data */}}
  {{ range $key := slice "id" "url" "name" "image" "price" "description" "weight" "width" "length" "height" }}
    {{ with index $product_data . }}
    {{ $s.SetInMap "data" (print $itemKey $key) . }}
    {{ end }}
  {{ end }}


  {{/* Quantity, Min, Max*/}}
  {{ $min_quantity := 1 }}
  {{ with .min_quantity }}
    {{ $min_quantity = . }}
  {{ end }}
  {{ $quantity := $min_quantity }}
  {{ with .quantity }}
    {{ $quantity = . }}
  {{ end }}

  {{ $s.SetInMap "data" (print $itemKey "min-quantity") $min_quantity }}

  {{ $s.SetInMap "data" (print $itemKey "quantity") $quantity }}


  {{ with .max_quantity }}
    {{ $s.SetInMap "data" (print $itemKey "max-quantity") . }}
  {{ end }}

  {{/* Taxable can be set but false, so we use isset and pass it down as string to ensure
    tnd-tags prints the attribute value even if false */}}
  {{ with isset . "taxable" }}
    {{ $s.SetInMap "data" (print $itemKey "taxable") (string $product_data.taxable) }}
  {{ end }}

  {{/* Metadata as JSON */}}
  {{ with .metadata }}
    {{ $s.SetInMap "data" (print $itemKey "metadata") (. | jsonify) }}
  {{ end }}

  {{/* Categories as cat1|cat2|cat3 */}}
  {{ with .categories }}
    {{ $s.SetInMap "data" (print $itemKey "categories") (delimit . "|") }}
  {{ end }}

  {{/* Custom fields */}}
  {{ with .custom_fields }}
    {{ range $index, $custom := . }}
      {{ with .name }}
        {{ $key := print $itemKey "custom" (add $index 1) "-" }}
        {{ $s.SetInMap "data" (print $key "name") . }}
        {{ with $custom.options }}
          {{ $options := delimit . "|" }}
          {{ $s.SetInMap "data" (print $key "options") $options }}
        {{ end }}
        {{ with $custom.value }}
          {{ $s.SetInMap "data" (print $key "value") . }}
        {{ end }}
        {{ with $custom.required }}
          {{ $s.SetInMap "data" (print $key "required") true }}
        {{ end }}
        {{ with $custom.placeholder }}
          {{ $s.SetInMap "data" (print $key "placeholder") . }}
        {{ end }}
        {{ with $custom.type }}
          {{ if eq . "checkbox" "textarea" "readonly" }}
            {{ $s.SetInMap "data" (print $key "type") . }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}


{{ return $s.Get "data" }}