{{ $s := newScratch }}
{{ $s.Set "return" dict }}
{{ $s.Set "attr" dict }}

{{ $itemKey := "data-item-" }}
{{ with .Params.product }}
  {{ $button_text := partialCached "tnd-snipcart/private/FormatButtonText" . . }}
  {{ $s.SetInMap "return" "inner" $button_text }}

  {{ $s.SetInMap "attr" (print $itemKey "id") $.File.UniqueID }}
  {{ $s.SetInMap "attr" (print $itemKey "url") $.Permalink }}
  {{ $s.SetInMap "attr" (print $itemKey "name") $.Title }}
  {{ with .price }}
    {{ $s.SetInMap "attr" (print $itemKey "price") (partialCached "tnd-snipcart/private/FormatPrice" . .) }}
  {{ end }}
  {{ $description := $.Summary }}
  {{ with .description }}
    {{ $description = . }}
  {{ else }}
    {{ with $.Description }}
      {{ $description = . }}
    {{ end }}
  {{ end }}
  {{ $s.SetInMap "attr" (print $itemKey "description") $description }}

  {{ with .metadata }}
    {{ $s.SetInMap "attr" (print $itemKey "metadata") (. | jsonify) }}
  {{ end }}

  {{ with .categories }}
    {{ $s.SetInMap "attr" (print $itemKey "categories") (delimit . "|") }}
  {{ end }}

  {{ with .weight }}
    {{ $s.SetInMap "attr" (print $itemKey "weight") . }}
  {{ end }}

  {{ with $dimensions := .dimensions }}
    {{ range $key := slice "width" "length" "height" }}
      {{ with index $dimensions . }}
        {{ $s.SetInMap "attr" (print $itemKey $key) . }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ with .custom_fields }}
    {{ range $index, $custom := . }}
      {{ with .name }}
        {{ $key := print $itemKey "custom" (add $index 1) "-" }}
        {{ $s.SetInMap "attr" (print $key "name") . }}
        {{ with $custom.options }}
          {{ $options := delimit . "|" }}
          {{ $s.SetInMap "attr" (print $key "options") $options }}
        {{ end }}
        {{ with $custom.value }}
          {{ $s.SetInMap "attr" (print $key "value") . }}
        {{ end }}
        {{ with $custom.required }}
          {{ $s.SetInMap "attr" (print $key "required") true }}
        {{ end }}
        {{ with $custom.placeholder }}
          {{ $s.SetInMap "attr" (print $key "placeholder") . }}
        {{ end }}
        {{ with $custom.type }}
          {{ if eq . "checkbox" "textarea" "readonly" }}
            {{ $s.SetInMap "attr" (print $key "type") . }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ $s.SetInMap "return" "attributes" ($s.Get "attr") }}

{{ end }}

{{ return $s.Get "return" }}