{{/*
  GetFormData
  Format ProductData as expected by the tnd-snipcart/form.html partial
  
  @author @regisphilibert

  @context 
    OR Page (.)
    OR Map
        Page (.Page)
        String (.settings)

  @access private

  @use
    - /private/GetFormSettings
    - /private/GetProductData
    - /private/FormatButtonText
    - /private/GetButtonAttributes

  @return Map
    String (.buy_button_inner)
    String (.buy_button_classes)
    Map (.buy_button_attributes)
      See @return of /private/GetButtonAttributes
    
*/}}
{{ $s := newScratch }}
{{ $s.Set "return" dict }}
{{ $entry := . }}
{{ $settings_key := "false" }}
{{ if reflect.IsMap .}}
  {{ with .Page }}
    {{ $entry = . }}
  {{ end }}
  {{ with .settings }}
    {{ $settings_key = . }}
  {{ end }}
{{ end }}

{{ $settings := partialCached "tnd-snipcart/private/GetFormSettings" $settings_key $settings_key }}

{{ with $product_data := partialCached "tnd-snipcart/private/GetProductData" $entry $entry }}
  {{/* Button Inner */}}
  {{ $FBTParams := dict "data" . "settings" $settings }}
  {{ $button_text := partialCached "tnd-snipcart/private/FormatButtonText" $FBTParams $FBTParams }}
  {{ $s.SetInMap "return" "button_inner" $button_text }}

  {{/* Button Classes */}}
  {{ $button_classes := slice "snipcart-add-item" "tnd-snipcart-button" }}
  {{ with $settings.buy_button_classes }}
    {{ if reflect.IsSlice . }}
      {{ $button_classes = $button_classes | append . }}
    {{ else }}
      {{ $button_classes = $button_classes | append (split . " ") }}
    {{ end }}
  {{ end }}
  {{ $s.SetInMap "return" "buy_button_classes" (delimit $button_classes " ") }}

  {{/* Button Attributes */}}
  {{ with partialCached "tnd-snipcart/private/GetButtonAttributes" . . }}
    {{ $s.Set "button_attributes" dict }}
    {{ range $key, $value := . }}
      {{ $s.SetInMap "button_attributes" $key . }}
    {{ end }}
    {{ $s.SetInMap "return" "buy_button_attributes" ($s.Get "button_attributes") }}
  {{ end }}

  {{/* Form Fields */}}
  {{ $params := dict "product" . "settings" $settings }}
  {{ with partialCached "tnd-snipcart/private/GetFormFields" $params $params }}
    {{ $s.SetInMap "return" "fields" . }}
  {{ end }}

{{ end }}


{{ return $s.Get "return" }}