{{/*
  GetProductData
  Parse the Data from a content file entry to expected structured Product data

  @author @regisphilibert

  @context Page (.)

  @access private

  @use
    - /private/GetConfig

  @return Map
    String (.id)
    String (.url)
    String (.name)
    Float (.price)
    String (.description)
    Map (.metadata)?
    Slice (.categories)?
    Int (.weight)?
    Int (.width)?
    Int (.length)?
    Int (.height)?
    Int (.max_quantity)
    Map (.custom_fields)?

*/}}
{{ $return := dict }}
{{ $s := newScratch }}
{{ $s.Set "data" dict }}

{{/* The Key underwhich the product information map is stored is defined by the user, defaulting on "product" */}}
{{ $FMKey := partialCached "tnd-snipcart/private/GetFrontMatterKey" "GetFrontMatterKey"}}
{{/* We want to be able to seemlessly use either a Content File and its .Params or a Data file without those. */}}
{{ $dataSet := $ }}
{{ with $.Params }}
  {{ $dataSet = . }}
{{ end }}


{{ with $product := index $dataSet $FMKey }}
  {{ $id := "" }}
  {{ with $.File.UniqueID }}
    {{ $id = . }}
  {{ end }}
  {{ with $product.id }}
    {{ $id = . }}
  {{ end }}
  {{ $s.SetInMap "data" "id" $id }}
  {{ $s.SetInMap "data" "url" $.RelPermalink }}
  {{ $s.SetInMap "data" "name" $.Title }}
  {{ with .price }}
    {{ $s.SetInMap "data" "price" (partialCached "tnd-snipcart/private/FormatPrice" . .) }}
  {{ end }}

  {{ $description := $.Summary }}
  {{ with .description }}
    {{ $description = . }}
  {{ else }}
    {{ with $.Description }}
      {{ $description = . }}
    {{ end }}
  {{ end }}
  {{ $s.SetInMap "data" "description" $description }}

  {{ range $key := slice "metadata" "categories" "image" "weight" "max_quantity" "min_quantity" "custom_fields" }}
    {{ with index $product . }}
      {{ $s.SetInMap "data" $key . }}
    {{ end }}
  {{ end }}

  {{ with $dimensions := .dimensions }}
    {{ range $key := slice "width" "length" "height" }}
      {{ with index $dimensions . }}
        {{ $s.SetInMap "data" $key . }}
      {{ end }}
    {{ end }}
  {{ end }}

{{ end }}
{{ $return = $s.Get "data" }}

{{ if templates.Exists "partials/tnd-snipcart/AddProductData.html" }}
  {{ with partial "tnd-snipcart/AddProductData" . }}
    {{ $return = merge $return . }}
  {{ end }}
{{ else }}
  {{ errorf "%#v" "not found" }}
{{ end }}

{{ return $return }}